accelerate==0.21.0
diffusers==0.20.0
img2vec_pytorch
IPython
huggingface_hub==0.16.4
omegaconf==2.3.0
pandas
pydantic
pyyaml
torch==1.13.1
-f https://download.pytorch.org/whl/cu117/torch_stable.html
transformers>=4.34.0
tqdm
